RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^process?$ process.php [NC,L]
RewriteRule ^error?$ error.php [NC,L]

ErrorDocument 400 http://wr.inf.br/pyprotect/error.php
ErrorDocument 401 http://wr.inf.br/pyprotect/error.php
ErrorDocument 403 http://wr.inf.br/pyprotect/error.php
ErrorDocument 404 http://wr.inf.br/pyprotect/error.php
ErrorDocument 408 http://wr.inf.br/pyprotect/error.php
ErrorDocument 500 http://wr.inf.br/pyprotect/error.php
ErrorDocument 502 http://wr.inf.br/pyprotect/error.php
ErrorDocument 503 http://wr.inf.br/pyprotect/error.php